/* Comentarios css
Puedo usar multiples lineas
 */
/* Selectores de varios tipos */
p::first-letter {
  font-size: 200%;
  color: red;
}
h1 {
  color: rgb(50, 50, 155);
  text-align: center;
  margin-top: 20px;
}

.sub-title {
  font-size: 16px;
  text-align: center;
  color: rgb(126, 4, 4);
}

.second-paragraph {
  background-color: yellow;
  font-size: 20px;
}

h1,
.sub-title {
  font-family: Arial, sans-serif;
  color: rgb(128, 185, 128);
}

[target] {
  border: 2px solid red;
  color: #000;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  color: rgb(138, 18, 108);
}

form {
  display: flex;
  flex-direction: column;
  width: 25px;
  margin: 20px auto;
}
